<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.adunik_krisi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_square"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.Adunik_krisi"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AudioNoticeActivity"></activity>
        <activity android:name=".Customer.FarmersList.FarmerProductsActivity" />
        <activity android:name=".Farmer.Order.OrderDetailsFarmerActivity" />
        <activity android:name=".Farmer.Order.OrderFarmerActivity" />
        <activity android:name=".Farmer.Order.OrderActivity" />
        <activity android:name=".Farmer.Product.ProductDescriptionActivity" />
        <activity android:name=".Farmer.Product.AllProductActivity" />
        <activity android:name=".Farmer.Product.AddProductActivity" />
        <activity android:name=".KrisiInformation.DhanerJatActivity" />
        <activity android:name=".KrisiInformation.DhanerProkriyakoronActivity" />
        <activity android:name=".KrisiInformation.DhanerSessionActivity" />
        <activity android:name=".KrisiInformation.DhanerInfoActivity" />
        <activity android:name=".KrisiInformation.KrisiInfoMainActivity" />
        <activity android:name=".ViewAdminNoticesActivity" />
        <activity android:name=".Admin.AddNoticeAdminActivity" />
        <activity android:name=".Admin.UsersList.FarmersListAdminActivity" />
        <activity android:name=".Admin.UsersList.CustomersListAdminActivity" />
        <activity android:name=".Customer.FarmersList.FarmersListCusActivity" />
        <activity android:name=".Customer.Orders.OrderListCusActivity" />
        <activity android:name=".Farmer.Profile.EditProfileFarmerActivity" />
        <activity android:name=".Farmer.Profile.ProfileFarmerActivity" />
        <activity android:name=".Customer.Profile.EditProfileCusActivity" />
        <activity android:name=".Customer.Profile.ProfileCusActivity" />
        <activity android:name=".Admin.Profile.EditProfileAdminActivity" />
        <activity android:name=".Admin.Profile.ProfileAdminActivity" />
        <activity android:name=".Farmer.FarmerMainActivity" />
        <activity android:name=".Customer.CusMainActivity" />
        <activity android:name=".Admin.AdminMainActivity" />
        <activity android:name=".ContactAdminActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>